

<ion-content  [fullscreen]="true">
  <div class="nav">
    <ion-icon
      name="arrow-back-outline"
      [routerLink]="['/info']"
    ></ion-icon>
    <ion-title class="profile">Tambah Informasi</ion-title>
  </div>
  <div class="form-container">
    <ion-item>
      <ion-label position="stacked">Judul Info</ion-label>
      <ion-input placeholder="Masukan judul info" type="text" [(ngModel)]="judul_info" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Informasi</ion-label>
      <ion-input placeholder="Masukan  informasi" type="textbox" [(ngModel)]="informasi" required></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="stacked">Tanggal Info</ion-label>
      <ion-input placeholder="Masukan tanggal info" type="date" [(ngModel)]="tgl_info" required></ion-input>
    </ion-item>
  
    <div class="form-group mt-3">
      <ion-button (click)="addNewInfo()">
        Tambah Data
      </ion-button>
    </div>
  </div>
  
</ion-content>
