<ion-content [fullscreen]="true">
  <div class="nav">
    <ion-icon
      name="arrow-back-outline"
      [routerLink]="['/penduduk']"
    ></ion-icon>
    <ion-title class="profile">Tambah Penduduk</ion-title>
  </div>
    <div class="container d-block justify-content-center py-3">
      <ion-item>
        <ion-label>Upload Foto</ion-label>
        <ion-input (change)="getFile($event)" type="file"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">NIK</ion-label>
        <ion-input [(ngModel)]="nik"name="nik" placeholder="input NIK"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Nama</ion-label>
        <ion-input [(ngModel)]="nama"name="nama" placeholder="input Nama"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="jk"name="jenis_kelamin" label="Jenis kelamin" placeholder="Jenis kelamin">
            <ion-select-option value="L">Pria</ion-select-option>
            <ion-select-option value="P">Wanita</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label position="stacked">Tempat Lahir</ion-label>
        <ion-input [(ngModel)]="tmpt_lhr" name="tempat_lahir" placeholder="input Tempat Lahir"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Tanggal Lahir</ion-label>
        <ion-input [(ngModel)]="tgl_lhr"name="tgl_lahir" type="date" placeholder="input Tanggal Lahir"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="agama"name="agama" label="Agama" placeholder="Agama">
            <ion-select-option value="Islam">Islam</ion-select-option>
            <ion-select-option value="Kristen">Kristen</ion-select-option>
            <ion-select-option value="Budha">Budha</ion-select-option>
            <ion-select-option value="Hindu">Hindu</ion-select-option>
            <ion-select-option value="Konghucu">Konghucu</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="stts_prkwn" name="status_perkawinan" label="Status Pernikahan" placeholder="Status Pernikahan">
            <ion-select-option value="Menikah">Menikah</ion-select-option>
            <ion-select-option value="Belum Menikah">Belum Menikah</ion-select-option>
            <ion-select-option value="Janda">Janda</ion-select-option>
            <ion-select-option value="Duda">Duda</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="stts_klrg" name="status_keluarga" label="Status Keluarga" placeholder="Status Keluarga">
            <ion-select-option value="Kepala Keluarga">Kepala Keluarga</ion-select-option>
            <ion-select-option value="Istri">Istri</ion-select-option>
            <ion-select-option value="Anak">Anak</ion-select-option>
            <ion-select-option value="Orang Tua">Orang Tua</ion-select-option>
            <ion-select-option value="Saudara">Saudara</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="stts_pkrjan"name="status_pekerjaan" label="Status Pekerjaan" placeholder="Status Pekerjaan">
            <ion-select-option value="PNS">PNS</ion-select-option>
            <ion-select-option value="Karyawan Swasta">Karyawan Swasta</ion-select-option>
            <ion-select-option value="Dosen">Dosen</ion-select-option>
            <ion-select-option value="Guru">Guru</ion-select-option>
            <ion-select-option value="Wiraswasta">Wiraswasta</ion-select-option>
            <ion-select-option value="Mengurus Rumah Tangga">Mengurus Rumah Tangga</ion-select-option>
            <ion-select-option value="Pelajar/Mahasiswa">Pelajar/Mahasiswa</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="stts_kwngn"name="status_kewarganegaraan" label="Status Kewarganegaraan" placeholder="Status Kewarganegaraan">
            <ion-select-option value="WNI">WNI</ion-select-option>
            <ion-select-option value="WNA">WNA</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="stts_kvlng"name="status_kavling" label="Status Kavling" placeholder="Status Kavling">
            <ion-select-option value="Pemilik">Pemilik</ion-select-option>
            <ion-select-option value="Kontrak">Kontrak</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="kd_blok"name="kd_blok" label="Kode Blok" placeholder="Kode Blok">
              <ion-select-option *ngFor="let blok of Blok" value="{{blok.kd_blok}}">{{blok.nama_blok}} - {{blok.no_blok}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <ion-item>
        <ion-label position="stacked">Tanggal Masuk</ion-label>
        <ion-input [(ngModel)]="tgl_msk"name="tgl_masuk" type="date" placeholder="input Tanggal Masuk"></ion-input>
      </ion-item>
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="stts_hni" label="Status Huni" placeholder="Status Huni">
            <ion-select-option value="Aktif">Aktif</ion-select-option>
            <ion-select-option value="Tidak Aktif">Tidak Aktif</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>    
      <ion-list>
        <ion-item>
          <ion-select [(ngModel)]="domisili"name="domisili" label="Domisili" placeholder="Domisili">
            <ion-select-option value="1">GFH</ion-select-option>
            <ion-select-option value="2">LUAR</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
      <div class="form-group mt-3">
        <button class="form-control btn btn-success" (click)="Insert()">
          Tambah Data
        </button>
      </div>
    </div>
  </ion-content>
