<ion-content [fullscreen]="true">
  <div class="nav">
    <ion-icon name="arrow-back-outline" [routerLink]="['/iuran']"></ion-icon>
    <ion-title class="profile">Edit Iuran</ion-title>
  </div>

  <div class="container d-block justify-content-center py-3">
    <ion-title class="edit">Kode Iuran :</ion-title>
    <ion-item>
      <ion-input type="text" [(ngModel)]="kd_iuran" readonly></ion-input>
    </ion-item>

    <ion-title class="edit">Kode Blok :</ion-title>
    <ion-item>
      <ion-input type="text" placeholder="Masukkan kode blok" [(ngModel)]="kd_blok" readonly></ion-input>
    </ion-item>

    <ion-title class="edit">Kode Penduduk :</ion-title>
    <ion-item>
      <ion-input type="text" placeholder="Masukkan kode penduduk" [(ngModel)]="kd_penduduk" readonly></ion-input>
    </ion-item>

    <ion-title class="edit">Jenis Pembayaran :</ion-title>
    <ion-item>
      <ion-input type="text" placeholder="Masukan jenis pembayaran" [(ngModel)]="jenis_pembayaran" ></ion-input>
    </ion-item>

    <ion-title class="edit">Keterangan :</ion-title>
    <ion-item>
      <ion-input type="text" placeholder="Masukkan keterangan" [(ngModel)]="keterangan"></ion-input>
    </ion-item>

    <ion-title class="edit">Tanggal Pembayaran :</ion-title>
    <ion-item>
      <ion-input type="text" placeholder="Masukkan tanggal pembayaran" [(ngModel)]="tgl_pembayaran"></ion-input>
    </ion-item>
    <ion-title class="edit">Bukti Iuran :</ion-title>
    <ion-item>
      <ion-input type="text" placeholder="Masukkan bukti iuran" [(ngModel)]="bukti_iuran"></ion-input>
    </ion-item>
    <ion-title class="edit">Kas Tahun :</ion-title>
    <ion-item>
      <ion-input type="text" placeholder="Masukkan kas tahun" [(ngModel)]="kas_tahun"></ion-input>
    </ion-item>
    <ion-title class="edit">Kas Bulan :</ion-title>
    <ion-item>
      <ion-input type="text" placeholder="Masukkan kas bulan" [(ngModel)]="kas_bulan"></ion-input>
    </ion-item>
    <ion-title class="edit">Status :</ion-title>
    <ion-item>
      <ion-input type="text" placeholder="Masukkan status" [(ngModel)]="status"></ion-input>
    </ion-item>

    <div class="form-group mt-3">
      <ion-button (click)="updateIuran()">Edit Iuran</ion-button>
    </div>
  </div>
</ion-content>
